
	<header>
		<div class="has-text-centered">
		<img src="/assets/images/logo.png" alt="" width="145" height="auto">
		</div>
		<nav class="navbar-tabs">
			<a href="#" class="navbar-item">FOOD</a>
			<a href="#" class="navbar-item">DESSERT</a>
			<a href="#" class="navbar-item">DRINK</a>
			<a href="#" class="navbar-item">TRAVAL</a>
			<a href="#" class="navbar-item">PROMOTION</a>
			<a href="#" class="navbar-item">LIFESTYLE</a>
			<a href="#" class="navbar-item">ABOUT US</a>
			<a href="#" class="navbar-item">CONTACT</a>
		</nav>
    </header>